[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AEP"]
	path = AEP
	url = https://github.com/cran/AEP
[submodule "alphastable"]
	path = alphastable
	url = https://github.com/cran/alphastable
[submodule "bccp"]
	path = bccp
	url = https://github.com/cran/bccp
[submodule "bibs"]
	path = bibs
	url = https://github.com/cran/bibs
[submodule "ForestFit"]
	path = ForestFit
	url = https://github.com/cran/ForestFit
[submodule "mixbox"]
	path = mixbox
	url = https://github.com/cran/mixbox
[submodule "mixSSG"]
	path = mixSSG
	url = https://github.com/cran/mixSSG
[submodule "MPS"]
	path = MPS
	url = https://github.com/cran/MPS
